.section--open {
    background-color: #092273;
    text-align: center;
    background-image: url("../assets/images/profile.png");
    background-position: center;
    background-size: cover;
}
.section--contact {
    text-align: center;
    background-image: url("../assets/images/logo-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}
.section--contact_header {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 10px 60px;
}
.section--contact_header h1 {
    color: #515151;
}
.section--contact_header h2 {
    color: #a0a0a0;
    font-weight: lighter;
    font-size: 3rem;
}
.section--contact_links {
    position: absolute;
    bottom: 30px;
    width: 100%;
    font-size: 40px;
}
.section--contact_links a {
    color: #092273;
    margin: 0 10px;
}
.section--contact_links a:hover {
    color: #b80543;
    cursor: pointer;
}